body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F0F0F0;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

h1, h2 {
  margin: 0;
  padding: 10px 0;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

section.inset {
  box-shadow: inset 0px 0px 10px #ccc;
}

form {
  display: flex;
  flex-direction: column;
}

select, input, button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

#projections-selection{
  width: 250px;
}

#booking-management-form{
  width: 250px;
}

/*#region seat*/
.seat {
  height: 60px;
  width: 60px;
  margin: 5px;
  padding: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.seat.occupied {
  background-color: red;
  pointer-events: none;
}

.seat.selected {
  background-color: #28a745;
}

.not-clickable {
  pointer-events: none;
}

button {
  cursor: pointer;
}

button:disabled{
  cursor: auto;
}

.container {
  display: flex;
}

.seats-half {
  margin: 2vh;
  flex-grow: 1;
}

.legend-half {
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.legend-border {
  padding: 10px;
  flex-grow: 0;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Aggiungi un po' di spazio tra le righe */
}
/*#endregion */

/*#region projLabel*/

.projContainer{
  display: flex;
  flex-wrap: nowrap;
  height: 50vh;
  overflow-x: scroll;
  padding: 10px;
  min-height: 225px;
  scroll-behavior: smooth;
}

.projLabel{
  position: relative;
  background-color: transparent;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  width: 20%;
  color: #f7e6e6;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  min-width: 35vh;
  scroll-snap-align: start;
  z-index: 1;
}

.projLabel:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 1;
  border-radius: inherit; 
}

.projLabel:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  transform-origin: center center;
  z-index: 2; 
}

.projTitle, .projDateTime, .projDate, .projTimetable, .projDuration {
  position: relative;
  z-index: 2;
}

.projTitle{
  flex: .0;
  font-size: 5vh;
  align-self: center;
}

.projDateTime {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 3vh;
}

.projDate {
  display: flex;
}

.projTimetable {
  display: flex;
}

.projDuration {
  align-self: flex-end;
  font-size: 3vh;
}
/*#endregion */

/*#region booking-input-modal*/
.booking-input-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 10px;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0} 
  to {top: 0; opacity: 1}
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

#submit-booking:hover,
#submit-booking:focus {
  cursor: pointer;
}

/*#endregion*/


#booking-details {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ccc;
}

#booking-details h3 {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}