body {
  font-family: Arial;
}

.container {
  display: flex;
}

.seats-half {
  margin: 2vh;
}

.legend-half{
  margin: 2vh;
  flex-grow: 1;
}

/*#region seat*/
.seat {
  height: 7vh;
  width: 7vh;
  margin: 1vh;
  padding: 2vh;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.seat.occupied {
  background-color: red;
  pointer-events: none;
}

.seat.selected {
  background-color: #28a745;
}

.not-clickable {
  pointer-events: none;
}
/*#endregion */

/*#region projLabel*/
.projContainer{
  display: flex;
  flex-direction: row;
  height: 50vh;
}

.projLabel{
  padding: 10px;
  margin: 0 10px 0 10px;
  border-radius: 15px;
  width: 20%;
  color: #f7e6e6;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.projLabel:hover{
  cursor: pointer;
}

.projTitle{
  flex: .0;
  font-size: 5vh;
  align-self: center;
}

.projDateTime {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 3vh;
}

.projDate {
  display: flex;
}

.projTimetable {
  display: flex;
}

.projDuration {
  align-self: flex-end;
  font-size: 3vh;
}
/*#endregion */